.canvas-container {
    -fx-alignment: baseline-center;
    -fx-border-width: 1px;
    -fx-border-color: #5F9EA0;
}

.draw-mode .canvas-container {
    -fx-background-color: #d7f5ff;
}

.trace-mode .canvas-container {
    -fx-background-color: #d1d2ee;
}