Button {
    -fx-text-fill: aliceblue;
    -fx-background-color: #6389a0;
    -fx-padding: 5px;
    -fx-border-width: 2px;
    -fx-border-color: #6389a0;
}

Button:hover {
    -fx-cursor: hand;
    -fx-background-color: #779fb6;
    -fx-border-color: #779fb6;
}

Button:focused {
    -fx-background-color: cadetblue;
    -fx-border-color: #6389a0;
}

Button:hover:focused {
    -fx-background-color: #72B2B4;
    -fx-border-color: #779fb6;
}

.dialog-pane {
    -fx-background-color: aliceblue;
}

.dialog-pane:header .header-panel {
    -fx-background-color: aliceblue;
}

.dialog-pane:header .header-panel .label {
    -fx-font-size: 24pt;
}

.dialog-pane .label {
    -fx-text-fill: #6389a0;
    -fx-font-style: italic;
    -fx-font-weight: bold;
}

.main-panel {
    -fx-pref-width: 1000px;
    -fx-pref-height: 800px;
    -fx-alignment: baseline-center;
    -fx-background-color: aliceblue;
}

.main-panel Label {
    -fx-text-fill: cadetblue;
}

.main-panel Label.title {
    -fx-font-size: 48pt;
}

.main-panel Label.medium {
    -fx-font-size: 24;
    -fx-font-style: italic;
}

.main-panel Label.small {
    -fx-font-size: 12pt;
}

.menu-stack {
    -fx-alignment: center;
    -fx-pref-width: 1000px;
}

.menu-stack Button {
    -fx-pref-width: 500px;
}